<style>
  #header-nav {
    display: none;
  }
</style>

<link rel="stylesheet" type="text/css" href="/assets/css/devise.css">

<div class="wrapper fadeInDown" style="width: 100vw; padding-left: 60px; padding-right: 60px">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/img/logo-black.png" id="icon" alt="User Icon"/>
    </div>
    <h1 class="fadeIn second" style="padding: 10px">FIND YOUR <strong style="color: red">X</strong></h1>
    <hr>
    <h1 class="fadeIn second" style="padding: 50px">Sign In</h1>

    <!-- Login Form -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.email_field :email, autocomplete: "email", placeholder: "E-mail", class: "fadeIn third" %>

      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "fadeIn fourth" %>

      <div class="field fadeIn fifth" style="padding: 20px">
      <%= f.label "Remember me?" %>
      <%= f.check_box :remember_me, class: "form-control" %>
      </div>

      <div class="actions fadeIn sixth mt-4">
        <%= f.submit "Sign in", class: "" %>
      </div>
    <% end %>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/users/sign_up">Sign Up</a>
      <br><br>
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to image_tag("/assets/img/google_sign_in.png"), omniauth_authorize_path(resource_name, provider) %>
          <br/>
        <% end %>
      <% end %>
    </div>
    <br>
    <p style="font-size: 30px">By <a href="https://www.linkedin.com/in/lkcbharath" style="font-size: 30px">Bharath</a>,
      <a href="https://www.linkedin.com/in/vachhanihpavan" style="font-size: 30px">Pavan</a> &
      <a href="http://tedxnitksurathkal.in" style="font-size: 30px">TEDxNITKSurathkal</a></p>
  </div>
</div>
